<!DOCTYPE html>
<html>
<head>
	<title>Eval</title>
	<script src="static/jquery.js"></script>
	<script src="static/evaluate.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="static/list.css"> -->
</head>
<body>
		<form action="add" method="post" class="add-entry">
	      <dl>
	        <dt>Title:
	        <dd><input type="text" size="30" name="title">
	        <dt>Text:
	        <dd><textarea name="text" rows="5" cols="40"></textarea>
	        <dd><input type="submit" value="Share">
	      </dl>
	    </form>

</body>
</html>